# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Electron Desktop App
node_modules/
dist-electron/
jre/

# Windows Zone.Identifier files (metadata from downloads)
*:Zone.Identifier

# Nuxt Frontend
asgaard_nuxt/.nuxt/
asgaard_nuxt/.output/
asgaard_nuxt/node_modules/

# IDE
.idea/
.vscode/
